:root{
  --clr-black: #222;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --radius: 0.25rem;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: hsl(205, 90%, 88%);
  margin-top: 210px;
}

div button{
  background-color: blueviolet;
  background: transparent;;
  transition: var(--transition);
  border: 2px solid var(--clr-black);
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
  margin: 0.5rem;
  padding: 15px;
  margin: 10px;
  width: 150px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  
}

.countervalue{
  font-size: 100px;
  margin: 0%;
  font-weight: 500;
  
}

.heading{
  font-size: 70px;
  margin: 0%;
  font-weight: 500;
  color: rgb(0, 0, 0);
}